body {
	background-color: rgba(40, 35, 30, 0.85);
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	color: white;
}

h1, h2, h3 {
	color: rgba(200,100,100,0.8);
}

#row1 {
	float: left;
	width: 400px;
	height: 300px;
}

#row2 {
	float: left;
	width: 400px;
	height: 300px;
}

#row3 {
	float: left;
	width: 400px;
	height: 300px;
}

.float {
	border-left-style: dashed;
	border-width: 3px;
	padding-left: 5px;
	border-color: rgba(200,100,100,0.8);
}