body {
	background-color: rgba(40, 35, 30, 0.85);
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

#main {
	text-align: center;
	margin: auto;
}

#maincanvas {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
}

#startNewGameButton {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	background-color: rgba(40, 35, 30, 0);
	vertical-align: -22px;
	width: 60px;
	height: 58px;
}

button {
	font-size: 140%;
	color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	background-color: rgba(40, 35, 30, 0);
	width: 90px;
	height: 60px;
}
footer {
	text-align: center;
	color: white;
}
a:link {
	color: white;
}

a:visited {
	color: rgba(200,100,100,0.8);
}