body {
	background-color: rgba(40, 35, 30, 0.85);
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	color: white;
}

h1 {
	color: rgba(200,100,100,0.8);
	font-size: 300%;
	text-align: center;
}

h3 {
	margin: 15px;
	color: rgba(200,100,100,0.8);
	font-size: 160%;
}

#style {
	margin: auto;
	max-width: 700px;
}

#login, #regis {
	float: left;
	text-align: center;
	margin: 29px 24px;
	width: 300px;
	height: 165px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

#regissub, #loginsub {
	color: white;
	width: 133px;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
}